header {
  width: 100%;
}

.logo {
  	@include logo-placement;
    background: url(images/logo.png) no-repeat center center;
    -o-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
}
