.title {
  &-hero {
    bottom: 50px;
    left: 50px;
    h5{
    	display: block;
    	letter-spacing: 1px;
    	font-weight: 600;
    }
    img{
    	display: block;
    	margin-top: 25px;
    }
  }
  &-side {
    left: 20px;
  }
}