.wrapper {
    height: 100vh;
    min-height: 800px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    //padding-top: 335px;
    grid-column: 5 / 1;
    grid-row: 1;
    .plyr__video-wrapper{
    background: rgba(233,171,88,.5) url('./images/hero.png')no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}

video.full-vid {
    height: 40vh;
}

 video {
      /*object-fit: contain;*/
/*       object-fit: fill; */
      object-fit: cover;
      width:100%;
      height:50%;
    }

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-volume-slider {}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-timeline {}

video::-webkit-media-controls-current-time-display {}

.plyr__controls{
    display: none;
}



.one span,
.two span,
.three span,
.four span {
  position: relative;
  display: block;
  height: 100%;
}


.two,
.three,
.four {
    background-color: #fff;
    border-bottom: #ddd 2px solid;
    margin: 0 30px;
}

.two {
    grid-column: 5 / 1;
    grid-row: 2;
}

.three {
    grid-column: 5 / 1;
    grid-row: 3;
}

.four {
    grid-column: 5 / 1;
    grid-row: 4;
}

