.wrapper {
    @include homegrid-height;
    position: relative;
    top: $nyu-nav-height;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    //padding-top: 335px;
    grid-column: 5 / 1;
    grid-row: 1;
    span{
        background: -webkit-linear-gradient(rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 100%);
        background: -o-linear-gradient(rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .plyr__video-wrapper{
        background: rgba(233,171,88,.5) url('./images/hero.png')no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.one span,
.two span,
.three span,
.four span {
    position: relative;
    display: block;
    height: 100%;
}

.two,
.three,
.four {
    background-color: #fff;
    border-bottom: #ddd 2px solid;
    margin: 0 30px;
}

.two {
    grid-column: 5 / 1;
    grid-row: 2;
}

.three {
    grid-column: 5 / 1;
    grid-row: 3;
}

.four {
    grid-column: 5 / 1;
    grid-row: 4;
}

