header {
    position: absolute;
    top: 0;
    //height: 165px;
    display: inline-block;
    width: 100%;
    z-index: 9;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 385px;
  height: 80px;
  cursor: pointer;
  background: url(images/logo-mob.png) no-repeat center center;
  -o-background-size: 90% auto;
  -webkit-background-size: 90% auto;
  -moz-background-size: 90% auto;
  background-size: 90% auto;
  img{
    .mobile{
    }
  }
}
