$tooltip-color: #aaa;

$shelf-width: 450px;

$nyu-nav-height: 80px;

$hamburger-layer-color: #fff;

// $hamburger-hover-transition-duration: 3s;

$hamburger-layer-height: 4px;

$hamburger-layer-border-radius: 0;

$hamburger-layer-spacing:9px;

$hamburger-layer-width: 40px;

$transition:  .25s;