.wrapper {
  grid-template-columns: repeat(3, 1fr);
}

.one {
  padding-top: 0;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.two {
  grid-column: 1;
  grid-row: 4;
}

.three {
  grid-column: 2;
  grid-row: 4;
}

.four {
  grid-column: 3;
  grid-row: 4;
}

