
$nyu-primary: #57068C;
$bkg-color: #000;

html{
	background: $bkg-color;
}

body {
	margin:0px;
}

*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper > div {

}



