<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://cdn.plyr.io/2.0.13/plyr.js"></script>
    <link href="https://cdn.plyr.io/2.0.7/plyr.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <header>
        <div class="logo">
            <div class="d-none d-md-block d-lg-block d-xl-block">
                <img src="<%= require('./images/logo.png') %>" alt="">
            </div>
            <div class="d-md-none d-lg-none d-xl-none">
                <img src="<%= require('./images/logo-mob.png') %>" alt="">
            </div>
        </div>
    </header>


        <div class="overlay overlay-menu">
            <button type="button" class="overlay-close">Close</button>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Work</a></li>
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>


    <div id="#videoModal" class="modal fade youtube modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div data-dismiss="modal" aria-label="Close">
            <img src="<%= require('./images/wht-close-btn.png') %>" alt="close" class="close">
        </div>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oORHqwxqC_0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper">
      <div class="one">

        <span>

            <div class="tagline title-hero">

                <h1>Invention, Innovation &amp;<br> Entrepreneurship</h1>
                <h5>Since 1854</h5>

                <div class="actions">
                    <span>
                        <img src="<%= require('./images/wht-pause-btn.png') %>" alt="pause video" class="js-pause" data-toggle="tooltip" data-placement="top" title="Pause Video">
                        <img src="<%= require('./images/wht-play-btn.png') %>" alt="play video" class="d-none js-play" data-toggle="tooltip" data-placement="top" title="Play Video">

                        <div class="fullscreen">
                            <img src="<%= require('./images/wht-info-btn.png') %>"
                            id="video-info"
                            data-trigger="manual"
                            alt="fullscreen"
                            offset="20px"
                            data-placement="right"
                            data-html="true"
                            title="Test content <a href='#0' title='test add link' target='_blank' data-toggle='modal' data-target='.youtube' '>link on content</a> to activate fullscreen video.">
                        </div>

                    </span>
                </div>


            </div>

            <video poster="<%= require('./images/hero.png') %>" class="full-vid" autoplay loop>
              <source src="./video/splash.mp4" class="vid" type="video/mp4">
            </video>

        </span>

      </div>
      <div class="two">
        <span>
            <div class="tagline title-side">
                <h5>Explore Tandon</h5>
                <h3>Life and Study in Brooklyn</h3>
            </div>
        </span>
      </div>
      <div class="three">
        <span>
            <div class="tagline title-side">
                <h5>Explore Tandon</h5>
                <h3>A Rich History in NYC Engineering</h3>
            </div>
        </span>
      </div>
      <div class="four">
        <span>
            <div class="tagline title-side">
                <h5>New Advances</h5>
                <h3>Tandon Team Makes Hyperloop Possible</h3>
            </div>
        </span>
      </div>
    </div>

    <script>plyr.setup(options);</script>

</body>

</html>